.list-group
{
	width: 240px;
	float: left;
	margin-right: 8px;
}

#account-content
{
	width: 760px;
	float: left;
	margin: 0;
}

.glyphicon-credit-card
{
	margin-right: 5px;
}

#add-account
{
	margin-top: 15px;
	cursor: pointer;
	width: 240px;
}

#add-account h4
{
	margin-top: 8px;
}

#account-list-group a img
{
	margin-top: -5px;
	margin-right: 5px;
}

.input-group
{
	margin-top: 5px;
}

#account-icons
{
	margin: 0;
}

.img-thumbnail
{
	cursor: pointer;
}

.img-selected,.img-thumbnail:hover
{
	background-color: #cecece;
}

.select-time
{
	float: left;
	margin-right: 5px;
}

.select-time-sbt
{
	float: right;
}

.form_datetime
{
	width: 150px;
}

.alert
{
	height: 65px;
	margin-top: 20px;
}

.alert span
{
	padding-top: 7px;
}

.account-content-btn
{
	width: 100px;
	margin-top: 10px;
}

.account-content-btn span
{
	margin-right: 5px;
}

#account-content-info
{
	width: 400px;
}

#assets
{
	margin: 0;
}

.big
{
	font-size: 20;
}

